* {
margin: 0;
padding: 0;
list-style-type: none;
font-family: "Open Sans", sans-serif;
}

input:focus {
outline: none;
}

div.todo-app {
max-width: 728px;
margin: 0px auto;
margin-top: 25px;
}
header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}



header h1 {
font-size: 24pt;
}
header div.add-task {
display: flex;
flex-direction: row;
gap: 7px;
align-items: center;
cursor: pointer;
}
header div.add-task img {
width: 25px;
height: 25px;
opacity: 0.6;
}
header div.add-task p {
font-size: 12pt;
color: rgb(91, 91, 91);
}

header div.add-task:hover img {
opacity: 1;
}

header div.add-task:hover p {
color: black;
}

ul.todo-list {
display: flex;
flex-direction: column;
}
ul.todo-list li {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 15px 5px;
border-bottom: 1px solid #e5e5e5;
cursor: pointer;
}

ul.todo-list li:hover div.action {
display: block;
}

ul.todo-list li:hover div.radio {
border-color: blue;
}

ul.todo-list li div.radio {
width: 20px;
height: 20px;
border: 1px solid #000;
border-radius: 50%;
margin-right: 15px;
}
ul.todo-list li div.content {
flex: 1;
display: flex;
flex-direction: column;
gap: 5px;
}
ul.todo-list li div.content h3 {
font-size: 13pt;
font-weight: normal;
color: black;
}
ul.todo-list li div.content p {font-size: 10pt;color: #787878;}
ul.todo-list li div.action {
margin-left: 15px;
display: flex;
flex-direction: row;
gap: 10px;
display: none;
}
ul.todo-list li div.action img {
width: 25px;
height: 25px;
opacity: 0.5;
cursor: pointer;
}

header.write div.input-box {
display: block;
}

header.write div.add-task {
display: none;
}


div.input-box {
margin: 15px 0;
display: flex;
flex-direction: column;
gap: 10px;
border: 1px solid #b6b6b6;
padding: 15px;
border-radius: 7px;
display: none;
}
div.input-box div.input {
display: flex;
flex-direction: column;
gap: 5px;
}
div.input-box div.input input {
padding: 5px;
border: none;
}
div.input-box div.button {
display: flex;
justify-content: flex-end;
gap: 8px;
border-top: 1px solid #b6b6b6;
padding-top: 15px;
}
div.input-box div.button button {
border: none;
padding: 5px 15px;
font-size: 9pt;
border-radius: 4px;
cursor: pointer;
}

button.addbtn {
background-color: #FF9800;
color: white;
}

ul.todo-list li.complete div.radio {
background-color: #4CAF50;
}

ul.todo-list li.complete div.content h3 {
text-decoration: line-through;
}

ul.todo-list li.complete div.content p {
text-decoration: line-through;
}



div.empty-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.empty-task img {
    width: 300px;
}
div.empty-task p {
    font-size: 12pt;
    color: #000000b0;
}

div.app-search {display: flex;
justify-content: space-between; align-items: center;}
div.app-search img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.6;
}
div.app-search img:hover {
    opacity: 1;
}


div.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    display: none;
}
            div.search-box input {
    padding: 7px;
    border: none;
}
            div.search-box img {    width: 20px;
                height: 20px;
                padding: 8px;
                cursor: pointer; opacity: 0.6;}
                div.search-box img:hover {
                    opacity: 1;
                }